# Node dependencies
node_modules/
dist/
dist-ssr/
*.local

# Python virtual environment & cache
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
instance/
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db
